<div class="progress mb-3">
  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5"></div>
</div>
<% if @correct %>
  <div class="alert alert-success" role="alert">
    Correct! It was '<%= @correct_answer %>'
  </div>
<% elsif @correct == false %>
  <div class="alert alert-danger" role="alert">
    Sorry! It was '<%= @correct_answer %>'
  </div>
<% end %>
<h1>How do you compare?</h1>
<% Quiz::QUESTIONS.each.with_index do |question| %>
  <div class="card mt-3">
    <div class="card-header">
      <h3><%= question %></h3>
    </div>
    <ul class="list-group list-group-flush">
      <% question.options.each do |option| %>
        <li class="list-group-item">
          <%= option %>
          (<%= pluralize(@report.choice_count(question: question, option: option), 'answer') %>)
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= (@report.choice_share(question: question, option: option) * 100).to_i %>%" aria-valuenow="<%= (@report.choice_share(question: question, option: option) * 100).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="card mt-3 mb-3 small">
  <div class="card-body">
    Built by Matt Heard
  </div>
</div>
